.dock
{
    margin: 0px;
    padding: 0px;
    font-size: 12px; /*line-height: 20px;*/
    font-family: Arial;
}
/*.dock
{
    position: fixed;
    left: 0px;
    top: 0px;
    width: 180px;
    height: 100%;
    z-index: 100;
    border: 1px solid #CCC;
    border-radius: 5px;
    background-color: #f0f0f0;
}
*/